<form class="example-form" [formGroup]="formGroup" class="container-center">
  <div class="example-container">
    <mat-form-field class="nome-width">
      <mat-label>Valor</mat-label>
      <input type="number" matInput formControlName="valor" placeholder="Valor">
    </mat-form-field>
    <mat-form-field class="nome-width">
      <mat-label>Quantidade de meses</mat-label>
      <input type="number" matInput formControlName="qtdMeses" placeholder="Quantidade de Meses">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid"
      style="height: 57px; margin-bottom: 20px;">Calcular</button>
  </div>
</form>

<div *ngIf="valorInicial > 0" class="container-center" style="color:rgb(0, 221, 255)">
  <span colo>Valor Inicial: {{valorInicial}}</span>
</div>
<div *ngIf="valorFinal > 0" class="container-center" style="color:rgb(0, 221, 255)">
  <span>Valor Final: {{valorFinal}}</span>
</div>