.container-center {
    padding: 10px;
    text-align: center;
}

  .example-spacer {
    flex: 1 1 auto;
  }

  .table-display {
    display: table;
    width: 100%;
  }
  .cell-display {
    display: table-cell;
  }
  .div1, .div2, .div3  {
    padding: 40px;
  }
  .div1 {
    background: #DEF;
  }
  .div2 {
    background: #ABC;
  }
  .div3 {
    background: #ACF;
  }